{% load static %}
<!DOCTYPE html>
<html lang="ko-kr">
    <head>
        <title>Simple Blog with Django</title>
        {% include 'main/header.html' %}
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <div class="">
                <h1><a href="/">KHS BLOG</a></h1>
            </div>
            <div class="">
                <a href="{% url 'post_new' %}" class="btn btn-info">New Post</a>
                <a href="{% url 'main_page' %}" class="btn btn-secondary">메인</a>
            </div>
        </div>
        <!-- div_page-header row -->
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8 card">
                    <div class="card-body">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div> 
        <!-- div_content container -->
    </body>
</html>