{% extends 'blog/base.html' %}

{% block content %}
    <div>
        post: {{ post }}, pk = {{ post.pk }}
    </div>
    <div class="post">
        {% if post.published_date %}
        <div class="date">
            {{ post.published_date }}
        </div>
        {% endif %}
        <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-default">글 수정</a>
        <a href="{% url 'post_list' %}" class="btn btn-default">목록으로</a>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}